@font-face {
    font-family : "Extreme";
    src : url("a.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    }

header {
	background-color : #ffffff;
    box-shadow: 0px 0.5vh 3px 1px rgba(41,41,41,0.5);
    min-height : 8vmin;
    height : 10vh;
    max-height : 14vmin;
    width : 100%;
    position : absolute;
    z-index : 1000;
    display : flex;
    flex-direction : row;
    align-items : center;
    padding-left : 1vmin;
    box-sizing : border-box;
    justify-content : space-between;
}

#logo {
    height : clamp(6vmin, 8vh, 12vmin);
    width : auto;
    transform : rotate(-5deg);
}

.connection {
    display : flex;
    flex-direction : row;
    align-items : center;
}

.connection a {
    padding-left : 0.5vmin;
}
.connection a img{
    height : clamp(3vmin, 4vh, 6vmin);
    width : auto;
}
